.Box {
    padding: 40px;
    background-color:#fbf9fa;
    box-shadow: 0px 0px 15px grey;
    border-radius: 20px;
}


.Head {
    font-size: 30px;
    color: rgba(113, 128, 150, var(--text-opacity))
    
}

.FontPSize {
    font-size: 20px;
    font-weight: 500;
}

.FontPSmall {
    font-size: 15px;
}