.Sticky{
    position: sticky;
    bottom: 0em;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #7cb305;

}

.DisplayNone {
    display: none;
}

.Info {
    max-width: 1140px;
    margin: 0 auto;



}