.Imgs {
    width: 300px;
    height: 350px;
}


.btn-shop {
    background-color:#5b8c00 ;
    color: #fff;
    border-radius: 10px;
    padding:5px 10px;


}

.btn-shop:hover {
    background-color:#bae637;
    color: #fff;
}

.MainTab {
    margin: 20px;
}