.carItem {
    position: relative;
}




.carText {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 400px;
    top: 80%;
    text-align: center;
    width: 60%;
    color: whitesmoke;
    font-size: 20px;
    direction: rtl;
    color: rgba(255, 255,255, 0.9)
}

.link {
    border: 1px solid #fff;
    padding: 7px;
    background-color:#d4380d ;
    color: rgba(255, 255,255, 0.9);
    border-radius: 10px;
}