.Footer {
    color: #ffffff;
    max-width: 1140px; 
}


.Footer-Header {
    color: #ffffff;

}

.Footer-Header::after{
    display: block;
    content: '';
    border-bottom: 1px solid #ffffff;
    margin: 5px 0;
    width: 60px;
    margin-right: 10px;
    
    
}

.FootIcon{
    color: #ff7a45;
    padding: 10px;
}